 <div class="row valign-wrapper">
  <div class="col s12 ">
   <div class="card large">
     <div class="card-content grey-text darken-3">
       <h2 class="card-title"><strong><%=@car.year%> <%=@car.manufacturer.name%> <%=@car.model%></strong></h2>
       <ul>
         <li><strong>Model: </strong><%=@car.model%></li><br>
         <li><strong>Year: </strong><%=@car.year%></li><br>
         <li><strong>Transmission: </strong><%=@car.transmission%></li><br>
         <li><strong>Standard: </strong><%=@car.standard_specs%></li><br>
         <li><strong>Additional Options: </strong><%=@car.car_options%></li>
         <li><strong><% if @car.manufacturer %>
           <%= link_to 'View Manufacturer', user_car_manufacturer_path(current_user, @car, @car.manufacturer) %></strong>
         <% end %>
         </li>
         <%= link_to 'View Dealerships', user_car_dealerships_path(current_user, @car)%></strong>
       </ul>              
      </div>
   <div class="card-action">
     <%= link_to  edit_user_car_path(current_user, @car), class: "orange lighten- 3 hoverable waves-effect waves-light btn left" do %>
        <i class="far fa-edit"></i> Edit
     <% end %>
     <%= link_to user_car_path(current_user, @car), method: :delete, class: "red lighten-2 hoverable waves-effect waves-light btn right" do %>
       <i class="far fa-trash-alt"></i> Delete
     <% end %>
      <%= link_to new_user_car_dealership_path(current_user, @car), class: "green lighten-1 hoverable waves-effect waves-light btn right" do %>
       <i class="fas fa-store"></i> Add Dealership
     <% end %>
   </div>
  </div>
</div>